asyncio-redis==0.16.0
-e git+https://github.com/maximpertsov/broadcaster.git@06a43319c16dd8b0488726fc850c2eb3fbf5aa9d#egg=broadcaster
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
fastapi==0.61.1
gunicorn==20.0.4
h11==0.9.0
httpcore==0.10.2
httptools==0.1.1; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
httpx==0.14.3
idna==2.10
pydantic==1.6.1
requests==2.24.0
rfc3986==1.4.0
sniffio==1.1.0
starlette==0.13.6
urllib3==1.26.5
uvicorn==0.11.8
uvloop==0.14.0; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
websockets==8.1
